.avatarWelcome {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    background-image: url('../../images/nopic.jpg');
}

.textTitleWelcome {
    font-size: 24px;
    color: #203152;
    margin-bottom: 10px;
}

.textDescriptionWelcome {
    font-size: 20px;
    color: #203152;
    margin-bottom: 20px;
}

.viewWelcomeBoard {
    text-align: center;
}
